
/* .App{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
} */

/* .box{
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: larger;
}

.main{
  display: flex;
  width: auto;
  
} */