
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.box{
  margin: "auto";
  padding: 10;
  border: 1px solid black;
  width: 500px;
  text-align: center;
}




